OSAKAARTIFACT25_CMS_PORT=YOUR_PORT
OSAKAARTIFACT25_CMS_NODE_ENV=development

# MongoDB Configuration (local)
OSAKAARTIFACT25_CMS_MONGODB_URI=mongodb://localhost:27017/osaka-digital

# Base URL for file access
OSAKAARTIFACT25_CMS_BASE_URL=http://localhost:3000


# AWS Configuration
OSAKAARTIFACT25_CMS_AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
OSAKAARTIFACT25_CMS_AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
OSAKAARTIFACT25_CMS_AWS_REGION=YOUR_AWS_REGION
OSAKAARTIFACT25_CMS_AWS_BUCKET_NAME=YOUR_AWS_BUCKET_NAME

# CORS Configuration
OSAKAARTIFACT25_CMS_CORS_ORIGIN=http://localhost:5173
