PORT=YOUR_PORT
NODE_ENV=development

# MongoDB Configuration (local)
MONGODB_URI=mongodb://localhost:27017/osaka-digital

# Base URL for file access
BASE_URL=http://localhost:3000


# AWS Configuration
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=YOUR_AWS_REGION
AWS_BUCKET_NAME=YOUR_AWS_BUCKET_NAME

# CORS Configuration
CORS_ORIGIN=http://localhost:5173 