@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "Ibbara Real Nova";
  src: local(),
    url("./assets/fonts/IbarraRealNova-VariableFont_wght.ttf");
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-title: "Ibbara Real Nova", sans-serif;
}
